* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: white;
  --add-color: black;
  --first-back-color: #333;
  --second-back-color: #f0f8ff;
  --third-back-color: #2690d4;
  --fourth-back-color: black;
}

body {
  background: var(--first-back-color);
  font-size: 20px;
}
a {
  text-decoration: none;
}

.headerBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerBg {
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bgheader.png);
}

.headerInfo {
  width: 40%;
  line-height: 1.2;
  margin-top: 50px;
  color: var(--main-color);
  text-align: center;
}
h2,
h3 {
  padding-top: 20px;
}
.headerInfo > h1,
p,
button {
  margin-top: 50px;
}
button {
  margin-bottom: 50px;
}
.buttonInfo {
  height: 63px;
  width: 160px;
  background-color: var(--first-back-color);
  border: 1px solid rgb(163, 163, 163);
  color: var(--main-color);
  font-size: 1rem;
}

.buttonInfo:hover {
  background: var(--second-back-color);
  cursor: pointer;
  border: 1px solid black;
  color: var(--add-color);
}
.part1 {
  background: var(--second-back-color);
  height: 250px;
}
.part1Info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  width: 50%;
}

.part2 {
  width: 100%;
}
.examples {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  width: 50%;
}
.examplePart {
  width: 91%;
  background: var(--second-back-color);
  height: 600px;
  line-height: 1.6;
}

.examplePart img {
  width: 273px;
  height: 181px;
}
.part3 {
  background: var(--second-back-color);
  height: 200px;
}
.part3Container {
  width: 60%;
}
.part4 {
  display: grid;
  grid-template-columns: 900px 900px;
}
.container {
  background: var(--third-back-color);
  color: var(--main-color);
}
.container2 {
  color: var(--main-color);
}
footer {
  display: grid;
  grid-template-columns: 900px 900px;
  background: var(--fourth-back-color);
  height: 100px;
  color: var(--main-color);
  align-items: center;
}

@media screen and (max-width: 700px) {
  .headerBlock {
    max-width: 100%;
    height: 400px;
  }
  .headerBg {
    min-width: 100%;
  }
  .headerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    line-height: 1.2;
    margin-top: 20px;
    color: var(--main-color);
    text-align: center;
  }
  .headerInfo h1 {
    font-size: 30px;
  }
  .headerInfo p {
    font-size: 15px;
  }
  .buttonInfo {
    height: 40px;
    width: 80px;
    background-color: var(--first-back-color);
    border: 1px solid rgb(163, 163, 163);
    color: var(--main-color);
    font-size: 10px;
  }
  main {
    max-width: 100%;
    overflow: hidden;
  }
  .part1 {
    max-width: 100%;
    height: 300px;
  }
  .part1Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .part1Block h2 {
    margin-bottom: 20px;
  }
  .part1Info p {
    margin: 0 auto;
    line-height: 1.5;
    font-size: 15px;
  }
  .examples {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    /*display: flex;
    flex-direction: column;*/
    display: grid;
    grid-template-columns: auto;
  }

  .examplePart img {
    width: 100%;
    height: 320px;
  }
  .examplePart {
    width: 90%;
    height: 600px;
    margin-bottom: 20px;
  }

  .part3 {
    width: 100%;
    height: 300px;
  }
  .part3Container h2 {
    font-size: 25px;
  }
  .part3Container p {
    font-size: 20px;
  }

  .part4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .container p {
    width: 80%;
    margin-bottom: 20px;
  }
  .container2 p {
    width: 80%;
    margin-bottom: 20px;
  }

  footer {
    display: flex;
    width: 100%;
  }
}
